* {
    box-sizing: border-box;
    margin:0;
    padding:0;
  }


  .container{
    display:grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows : repeat(2,auto);
    
    background-color:rgba(249, 249, 249, 0.658);
    width:100vw; 

  }



  .nav{
    background:rgb(108, 145, 231);
    grid-area:1/1/-1/2;
    width:20vw;



    display:grid;
    grid-template-rows:repeat(11,5%);
    padding:10px;
    grid-gap:10px;
    
  } 
  .nav>.dashboard{
    grid-row:1/3;
    /* margin:auto; */
    gap:3vw;
    display:flex;
    align-items: center;
    font-size:2.5vw;
    
    
     
  }
  .dashboard>a{
    text-decoration:none;
    color:white;

  }

  .nav>.nav-item{
    display:flex;
    align-items: center;
    gap:5px;
    height:25px;
    padding:20px;
    margin:10px;
    width:auto;
    
  }
  .nav>.nav-item:hover{
    box-shadow:2px 2px 4px rgb(255, 253, 253);
  }

  .nav-item>a{
    text-decoration:none;
    color:white;
  }


  


  /* head content */
  .head{
    background:rgb(255, 255, 255);
    grid-area:1/2/2/-1;
    height:20vh;
    width:80vw;
    border-radius: 5px;
    /* box-shadow: inset 2px -2px 3px rgba(0, 0, 0, 0.715); */
    
    display:grid;
    grid-template-columns: 65% auto;
    grid-template-rows:auto auto;
  }

.search-bar{
    margin:10px 0px 0px 50px;
    width:100%;
}  

.search-bar>#search{
    outline: none;
    width: 60%;
    height: 15px;
    padding: 22px 10px 4px 10px;
    border: none;
    box-shadow: 2px 2px 5px #0000008a;
    border-radius: 25px;
}

.search-bar>label{
    display: inline-block;
    padding-top: 22px;
    width:36px;
    height:32px;
    background-image:url("./images/searchicon.png");
}
/* .icons{

} */

.intro{
    display: flex;
    flex-direction: row;
    justify-content: start;
    column-gap:5px;
    margin-top:7px;
    margin-left: 43px;
}

.head-items>img{
    /* border:1px solid red; */
    width:60px;
    height:60px;
    border-radius: 50px;
}
.head-items>.intro-items{
    margin-top:9px;
}

.btns{
    display:flex;
    justify-content:space-around;
    align-items:center;
   
}
.btns>.btn{

    width:max(50px,20%);
    border:none;
    box-shadow: 2px 2px 5px rgba(12, 0, 0, 0.696);
    padding:10px;
    border-radius: 10px;
    background:rgb(108, 145, 231);
    color:white;
}
  



  /* main content */
  .main{
    background-color:rgb(231, 231, 231);
    grid-area:2 / 2 / -1/-1;
    height:80vh;
    width:80vw;
    display:grid;
    grid-template-columns: 2fr 1fr;
    
    border-radius:5px;
    box-shadow: 1px 1px 7px rgb(224, 218, 218);
      
  }

.main-heading{
    margin-top:10px;
    margin-left:6vw;
}

  .main-function{
    display:grid;
    grid-template-columns:repeat(2,auto);
    grid-template-rows:repeat(3,auto);
    grid-gap:40px;
    height:95%;
    margin:auto;
    width:90%;
    padding:10px;
    
    
    
    
  }
  .main-function>.main-items{
    border-style: none none none solid;
    border-width:6px;
    border-radius: 5px;
    border-color:rgb(223, 187, 24);
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.525);
    background:#eee;
    transition: transform 0.25s ease-out 0.25s;
   
  }

  .main-function>.main-items:hover, .sidebar-items:hover{
    transform:scale(1.1,1.1);
  }



  .main-sidebar{
    display:grid;
    grid-template-rows: 1fr 1fr;
    row-gap:40px;
    height:95%;
    width:80%;
    padding-block: 10px;
  }

  .main-sidebar>.sidebar-items{
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.525);
    background:#eee;
    transition: transform 0.25s ease-out 0.25s;
    
  }